<div class="info">
  <h4 style="text-shadow: 0 1px 0 #fff,1px 2px 2px #aaa;">
    HomePages#index
    <br/>Find me in app/views/home_pages/index.html.erb
  </h4>
</div>
<%= link_to "add main menu", new_mainmenu_path, class: "link-to-new-mainmenu" %>

<%= nested_mainmenus @mainmenus.arrange(:order => :created_at) %>