// Place all the styles related to the Childmenus controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.childmenu-class{
	ul li{
		list-style: none;
	}
	ul{
		margin-left: 0px;
	}
}