// Place all the styles related to the Contents controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.container-add-style{
	margin-top: 90px;
	width: 100% !important;
	background: rgb(255, 255, 255) none repeat scroll 0% 0%;
	z-index: 2;
	display: block;
	position: relative;
	margin-bottom: 100px;
}

.center-content{
	width: 490px;
	margin-right: auto;
	margin-left: auto;
}
