#menu-menu li ul {
  display: none;
  background: #4a5b78;
}
#menu-menu li ul li a {
  display: block;
  background: none;
  padding: 10px 0px;
  padding-left: 30px;
  font-size: 1.1em;
  text-decoration: none;
  font-weight: bold;
  color: #e3e7f1;
  text-shadow: 1px 1px 0px #000;
}
#menu-menu li ul li a:hover {
  background: #394963;
}