.find-field{
  // display: table-row;
  margin-bottom: 2px;
  .find-cell{
    display: table-cell;
    width: 65px;
  }
  > .find-cell{
    text-align: left;
    padding-right: 2px;
  }
}

.users-table{
  //width: 233px;
  // margin-left: auto;
  // margin-right: auto;

  // border-left: 1px solid #b2b2b2;
  // border-top: 1px solid #b2b2b2;
  margin-top: 20px;
}

.pagination {
  display: block;
  padding-left: 0;
  margin: 20px 0;
  border-radius: 4px;
  // width: 390px !important;
  margin-left: auto;
  margin-right: auto;
}

.center-content{
  padding-bottom: 100px;
}

.center-content .container{
  width: 990px !important;
}