// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.find-field{
	//display: table-row;
	margin-bottom: 2px;
	.find-cell{
		display: table-cell;
		width: 65px;
	}
	> .find-cell{
		text-align: left;
		padding-right: 2px;
	}
}

.users-table{
	width: 233px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
}

.pagination {
	display: block;
	padding-left: 0;
	margin: 20px 0;
	border-radius: 4px;
	width: 290px !important;
	margin-left: auto;
	margin-right: auto;
}

.center-content{
	padding-bottom: 100px;
}

.center-content .container{
	width: 500px !important;
}